<form class="formulaire" [formGroup]="formulaire">

    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput formControlName="prix" type="number">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Etat</mat-label>
        <mat-select formControlName="etat">
            @for(etat of listeEtat; track etat.id){
                <mat-option [value]="etat">{{etat.designation}}</mat-option>
            }
        </mat-select>
      </mat-form-field>
    
</form>
