<div class="container">
  @if(authentification.utilisateur?.admin == 1) {
  <a routerLink="/edit-produit" mat-raised-button color="primary">
    Ajouter un article
  </a>
  }

  <div class="row">
    @for(produit of listeProduit; track produit.id) {

    <div class="col-6 mt-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <span>{{ produit.nom }}</span>

            @for (etiquette of produit.listeEtiquettes; track $index) {
            <app-label
              [couleur]="etiquette.couleur"
              [texte]="etiquette.designation"
            ></app-label>
            }
          </mat-card-title>
          <mat-card-subtitle>{{ produit.code }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ produit.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          @if(authentification.utilisateur?.admin == 1) {
          <button
            mat-raised-button
            color="accent"
            [routerLink]="['/edit-produit', produit.id]"
          >
            Modifier
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="onSupprimerProduit(produit.id)"
          >
            Supprimer
          </button>
          }
        </mat-card-actions>
      </mat-card>
    </div>

    }
  </div>
</div>
